@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  font-family: 'Lobster', cursive;
  color: white;
}
body {
  background: linear-gradient(#364290, #AB88FF);
  width: 100%;
  margin: 0;
}
.header {
  display: none;
}
.header-title a {
  text-decoration: none;
  font-size: 40px;
  padding: 10px;
  cursor: pointer;
}
.header-title a:hover {
  color: #8895dd;
}

.details:hover {
  color: #8895dd;
}
.details {
  padding: 20px 10px;
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
}
.container {
  height: calc(100vh - 55px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
}
.container-div {
  flex-direction: column;
  padding: 20px 20px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  border-radius: 40px;
  border: 2px solid #ffffff;
  background: linear-gradient(#4756b8, #b8a1ee);
}
.info-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-div h2 {
  margin: 0;
}
.container-div h3 {
  margin: 10px;
  font-size: 24px;
  font-weight: 400;
}
.container-div p {
  text-align: center;
}
.container-div img {
  width: 200px;
  height: auto;
  border-radius: 20px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}
.footer a {
  margin: 10px;
}
.footer-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #a785fb;
  z-index: 1000;
  right: 0;
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 768px){
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  .container {
    height: calc(100vh - 114px);
  }
  .container-div {
    padding: 50px 50px 30px;
    height: 600px;
  }
  .container-div h2 {
    font-size: 40px;
  }
  .container-div h3 {
    font-size: 32px;
    font-weight: bold;
  }
  .info-container {
    height: 500px;
    justify-content: space-around;
  }
  .footer {
    padding-bottom: 0;
  }
  .footer-menu {
    display: none;
  }
}