@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  font-family: 'Lobster', cursive;
  color: white;
}
body {
  background: linear-gradient(#364290, #AB88FF);
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.header-title a {
  text-decoration: none;
  font-size: 40px;
  padding: 10px;
  cursor: pointer;
}
.header-title a:hover {
  color: #8895dd;
}

.details:hover {
  color: #8895dd;
}
.details {
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
}
.container {
  width: 100;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}
.container-div {
  flex-direction: column;
  width: 300px;
  padding: 50px 50px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  min-height: 700px;
  height: 600px;
  border-radius: 40px;
  border: 2px solid #ffffff;
  background: linear-gradient(#4756b8, #b8a1ee);
}
.info-container {
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.container-div h2 {
  font-size: 40px;
  margin: 0;
}
.container-div h3 {
  font-size: 32px;
  margin: 0;
}
.container-div img {
  width: 200px;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a {
  margin: 10px;
}